*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.container{
    width: 350px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
}

.container img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}